@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h4 class="mb-0 text-white">Harmony - gemeenschap Beheer</h4>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fas fa-home me-2"></i>Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/personen">
                            <i class="fas fa-users me-2"></i>Personen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/groepen">
                            <i class="fas fa-user-friends me-2"></i>Groepen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rapporten">
                            <i class="fas fa-file-alt me-2"></i>Rapporten
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="flex-grow-1">
        <div class="container-fluid p-3">
            @Body
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-light text-center py-3 mt-auto">
        <div class="container">
            <span>&copy; 2025 Harmony gemeenschap Beheer</span>
        </div>
    </footer>
</div>
